/* Section: Welcome Tab */

.welcome-section {
  margin-top: 10%;
}

.welcome-container {
  width: 35%;
  margin: 0 auto;
}

.welcome-footer {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

/* Section: Authentication */

/* Authorize Container */

#authorize-container {
  display: none;
}

/* Login */

#login-container {
  display: none;
  width: 30%;
  margin: 10% auto;
}

/* Register */

#register-container {
  display: none;
  width: 30%;
  margin: 10% auto;
}

/* Section: Auctions */

#auction-section {
  display: none;
}

.auction-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3% auto;
  margin-bottom: 3%;
  gap: 5%;
}

.auction-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 5% auto;
}

.auction-card {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.auction-card img {
  width: 100%;
}

.auction-img {
  cursor: pointer;
}

/* Single Listing */

#listing-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#seller-list-container {
  display: flex;
  flex-direction: column;
}

#seller-container {
  width: 100%;
  margin-top: 5%;
}

#seller-image {
  width: 50%;
}

#listing-card {
  width: 100%;
}

#image-container {
  width: 30%;
}

#listing-img {
  width: 100%;
}

/* Section: Profile */

#profile-section {
  display: none;
}

/* Section: Create Listning */

#create-section {
  display: none;
} 

#create-container {
  width: 50%;
  margin: 2% auto;
}

.form-control {
  margin-bottom: 5%;
}

/* Listing page */

/* Profile Page */

#user-container {
  width: 80%;
  margin: 5% auto;
}

#user-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 90%;
}

#card-image {
  width: 40%;
}

#user-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}

#user-email-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}

#username-label, #user-email-label {
  font-size: x-small;
}